body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background: #f3f3f3;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;

  list-style: none;
}

@media (max-width: 811px) {
  ul {
    padding: 0px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
